/* 
#434455 - main color SLATE
##2E2F42 - second color NAVY BLUE
#404BBF - OCEAN
250ms cubic-bezier(0.4, 0, 0.2, 1) - animation
320х768х1158px
 */

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1158px) {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

h2,
h3 {
  color: #2e2f42;
}

h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

textarea {
  resize: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

section {
  padding: 96px 0;

  @media screen and (min-width: 1158px) {
    padding: 120px 0;
  }
}

/* !HEADER============================================ */

.page-header {
  padding: 16px 0;
  position: relative;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);

  @media screen and (min-width: 768px) {
    padding: 0;
  }
}

.header-logo {
  display: inline-block;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-right: 76px;

  color: #4d5ae5;
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: 1158px) {
    width: 1158px;
  }
}

.header-address-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    gap: 40px;
  }
}

.header-address-list-item {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.header-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
}

.header-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 40px;
    margin-bottom: 0;
  }
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  border: 2px solid;
  border-radius: 2px;
  width: 100%;
  background-color: #404bbf;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #2e2f42;
}

.nav-address {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    font-style: normal;
  }
}

.contact-link {
  display: block;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.nav-link {
  position: relative;
  display: block;
  font-weight: 500;

  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    padding: 1.5rem 0;
  }
}

.nav-link:focus,
.nav-link:hover {
  color: #404bbf;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 4.8px 3.6px;
  line-height: 0;

  background-color: transparent;
  border: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-btn-icon {
  stroke: #2f2f37;
}

.header-social-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-social-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.header-social-list-item-icon {
  fill: #f4f4fd;
}

.mobile-menu {
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  padding: 72px 24px 40px 16px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-btn {
  position: absolute;
  content: '';
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #0000001a;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-list-item-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
}

.mobile-menu-contact {
  margin-top: auto;
}

.mobile-menu-contact-list {
  margin-bottom: 48px;
}

.mobile-menu-contact-list-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu-contact-list-item-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  color: #434455;
}

.current {
  color: #404bbf;
}

/* !HERO============================================ */

.hero-page {
  max-width: 1440px;
  margin: 0 auto;
  padding: 72px 0;
  background-color: #2e2f42;

  background-position: 50% 50%;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg@2x-mobile.jpg);
  }

  @media screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx),
    screen and (min-device-pixel-ratio: 3) {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg@3x-mobile.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tablet.jpg);
    padding: 112px 0;

    @media screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx),
      screen and (min-device-pixel-ratio: 2) {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg@2x-tablet.jpg);
    }

    @media screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx),
      screen and (min-device-pixel-ratio: 3) {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg@3x-tablet.jpg);
    }
  }

  @media screen and (min-width: 1158px) {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desktop.jpg);
    padding: 188px 0;

    @media screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx),
      screen and (min-device-pixel-ratio: 2) {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg@2x-desktop.jpg);
    }

    @media screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx),
      screen and (min-device-pixel-ratio: 3) {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg@3x-desktop.jpg);
    }
  }
}

.hero-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;

  max-width: 220px;
  color: #ffffff;
  margin-bottom: 72px;

  @media screen and (min-width: 768px) {
    text-align: center;
    line-height: 1.07;
    font-size: 56px;

    max-width: 496px;
    margin-bottom: 48px;
  }
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;

  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  gap: 10px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* top: 428px;
  left: 636px; */
  /* border: 1px solid transparent; */
}

.hero-button:focus,
.hero-button:hover {
  background-color: #404bbf;
}

/* !ABOUT============================================ */
.container .about-list {
  display: block;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  @media screen and (min-width: 1158px) {
    gap: 24px;
  }
}

.about-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.about-list-item .about-list-item-subtitle {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;

  color: #2e2f42;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
}

.about-list-item-text {
  font-weight: 500;

  max-width: 288px;
  margin: 0 auto;
  color: #434455;

  @media screen and (min-width: 768px) {
    min-width: 356px;
    margin: 0;
  }

  @media screen and ((min-width: 1158px)) {
    min-width: 264px;
    font-weight: 400;
  }
}

.about-list-item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 1158px) {
    width: calc((100% - 72px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .about-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

.about-list-item-box {
  display: none;

  @media screen and (min-width: 1158px) {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    border: 1px solid rgba(142, 143, 153, 1);
    border-radius: 4px;
  }
}

.about-text {
  letter-spacing: 0.02em;
}

/* !TEAM============================================ */

.team-page {
  background-color: #f4f4fd;
}

.team-title {
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.team-list-item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  gap: 8px;
}

.container .team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  @media screen and (min-width: 1158px) {
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

.team-list-item {
  margin: 0 auto;
  max-width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    margin: 0;
    width: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 1158px) {
    width: calc((100% - 72px) / 4);
  }
}

.team-list-item .team-list-item-box {
  text-align: center;
}

.team-list-item-box-subtitle {
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.list-text {
  text-align: center;
  font-size: 16px;
}

.social-icon {
  fill: #f4f4fd;
}

.social-link:focus,
.social-link:hover {
  background-color: #404bbf;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* !PORTFOLIO============================================ */

.container .portfolio-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  @media screen and (min-width: 1158px) {
    flex-direction: row;
    row-gap: 48px;
    max-width: 1138px;
  }
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    max-width: 288px;
    margin: 0 auto;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  @media (min-width: 768px) and (max-width: 1157px) {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 1158px) {
    width: calc((100% - 48px) / 3);
  }
}

@media screen and (max-width: 767px) {
  .portfolio-item:not(:last-child) {
    margin-bottom: 42px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item:hover .hidden-text {
    transform: translateY(0);
  }

  .portfolio-item:hover .hidden-container {
    transform: translateY(0);
  }

  .portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
      0px 1px 6px 0px #2e2f4214;

    cursor: pointer;
  }
}

.card-container {
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.card-container:hover .portfolio-item {
  background: linear-gradient(0deg, #e7e9fc, #e7e9fc),
    linear-gradient(0deg, #ffffff, #ffffff);
}

.portfolio-title {
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.item-title {
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.img-container {
  position: relative;

  overflow: hidden;
}

.hidden-text {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;

  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden-text {
  color: #f4f4fd;
}

/* !FOOTER============================================ */

.footer-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #f4f4fd;
}

.footer-page .container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
  @media (min-width: 768px) and (max-width: 1157px) {
    flex-wrap: wrap;
    padding-left: 100px;
  }
}

.footer-logo {
  display: block;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 17.5px;

  color: #4d5ae5;

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-bottom: 16px;
  }
}

.footer-page {
  padding: 97.5px 0 96px;
  background-color: #2e2f42;

  @media screen and (min-width: 1158px) {
    padding: 100px 0;
  }
}

.social-container .social-text {
  font-weight: 500;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 1);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @media screen and (max-width: 767px) {
    margin-bottom: 72px;
  }
}

.footer-box {
  @media screen and (max-width: 767px) {
    margin: 0 auto 72px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 72px;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 120px;
    margin-bottom: 0;
  }
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-mail-container {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1158px) {
    margin-left: 0;
  }
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:focus,
.footer-social-link:hover {
  background-color: #31d0aa;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.social-container {
  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    margin-left: 24px;
    margin-right: auto;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 80px;
  }
}

.footer-mail-text {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 24px;

    flex-wrap: wrap;
  }

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
  }
}

.footer-form-label {
  display: flex;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;

  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }

  @media screen and (max-width: 1157px) {
    opacity: 0.3;
  }
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }
}

.footer-form-btn:focus,
.footer-form-btn:hover {
  background-color: #404bbf;
}

.footer-form-icon {
  margin-left: 16px;
  fill: #ffffff;
}

.footer-text {
  display: block;
  margin: 0 auto;
  max-width: 264px;

  color: #f4f4fd;

  @media screen and (min-width: 1158px) {
    margin-bottom: 0;
  }
}

/* !MODAL============================================ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(46, 47, 66, 0.4);
  /* opacity: 0;
  pointer-events: none;
  visibility: hidden; */
  z-index: 9999;

  /* &.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  } */
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    padding: 72px 17px 24px 16px;
    width: 90%;
    max-width: 408px;
    /* height: 95%; */
    /* min-width: 288px; */
    /* height: 95%; */
  }
}

.modal-box-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #0000001a;
  border-radius: 50%;
  background-color: rgba(231, 233, 252, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-x {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box-btn:focus .icon-x,
.modal-box-btn:hover .icon-x {
  fill: #ffffff;
}

.modal-box-btn:focus,
.modal-box-btn:hover {
  background-color: #404bbf;
  border: none;
}

.modal-box-text {
  text-align: center;
  font-weight: 500;
  margin-bottom: 16px;
  color: #2e2f42;
}

.form-box {
  margin-bottom: 8px;
}

.form-box-label {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;

  color: #8e8f99;
}

.form-box-input {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 11px 38px;

  @media screen and (max-width: 767px) {
    padding: 11px 34px;
  }
}

@media screen and (min-width: 1158px) {
  .form-input:focus {
    border-color: #4d5ae5;
  }
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
  .form-box-input:focus-within .icon-modal {
    fill: #4d5ae5;
  }
}

.form-box-textarea {
  margin-bottom: 16px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  color: #2e2f4266;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
  .form-textarea:focus {
    border-color: #4d5ae5;
  }
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: #2e2f4266;
}

.form-bottom-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 24px;
}

.checkbox-label {
  display: flex;
  align-items: center;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 0;
  color: #8e8f99;
}

.custom-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;

  min-width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid #2e2f4266;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.last-input:checked + .checkbox-label > .custom-input {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}

.form-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-btn {
  display: block;

  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;

  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;

  border: none;
  border-radius: 4px;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:focus,
.modal-btn:hover {
  background-color: #404bbf;
}

.modal-second-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
