/* 
320х768х1158px
 */

/* VARIABLES */
:root {
  /* color styles */
  --clr-white: #ffffff;
  --clr-iris: #4d5ae5;
  --clr-ocean: #404bbf;
  --clr-navy-blue: #2e2f42;
  --clr-green: #31d0aa;
  --clr-slate: #434455;
  --clr-light-slate: #8e8f99;
  --clr-cornflower: #e7e9fc;
  --clr-cloud: #f4f4fd;
  /* animation */
  --tns-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--clr-slate);
  background-color: var(--clr-white);
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1158px) {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  color: var(--clr-white);
}

h2,
h3 {
  color: var(--clr-navy-blue);
}

h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

textarea {
  resize: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

section {
  padding: 96px 0;

  @media screen and (min-width: 1158px) {
    padding: 120px 0;
  }
}

.page-header {
  position: relative;

  padding: 16px 0;
  border-bottom: 1px solid var(--clr-cornflower);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);

  @media screen and (min-width: 768px) {
    padding: 0;
  }
}

.header-logo {
  display: inline-block;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--clr-iris);

  @media screen and (min-width: 768px) {
    margin-right: 120px;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 76px;
  }
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: 480px) {
    max-width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 980px) {
    max-width: 100%;
  }

  @media (min-width: 1158px) {
    width: 1158px;
  }
}

.header-address-list {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    gap: 40px;
  }
}

.header-address-list-item {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.header-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
}

.header-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 40px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;

    border: 2px solid;
    border-radius: 2px;
    width: 100%;
    background-color: var(--clr-ocean);
  }
}

.header-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--clr-navy-blue);
}

.nav-address {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    font-style: normal;
  }
}

.contact-link {
  display: block;
  letter-spacing: 0.02em;
  color: var(--clr-slate);
  transition: color var(--tns-cubic);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--clr-ocean);
}

.nav-link {
  position: relative;
  display: block;
  font-weight: 500;

  color: var(--clr-navy-blue);
  transition: color var(--tns-cubic);

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    padding: 1.5rem 0;
  }
}

.nav-link:focus,
.nav-link:hover {
  color: var(--clr-ocean);
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 4.8px 3.6px;
  line-height: 0;

  background-color: transparent;
  border: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-btn-icon {
  stroke: #2f2f37;
}

.header-social-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-social-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--clr-iris);
}

.header-social-list-item-icon {
  fill: var(--clr-cloud);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;

  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  width: 100%;
  height: 100dvh;
  padding: 72px 24px 40px 16px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: translateY(-100%);
  transition: transform var(--tns-cubic);

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    transform: translateY(0%);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

/* .mobile-menu .container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  height: 100%;

  margin: 0;

  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }

  @media screen and (min-width: 500px) {
    width: 320px;
  }
} */

.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #0000001a;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-list-item-link {
  color: var(--clr-navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
}

.mobile-menu-contact {
  margin-top: auto;
}

.mobile-menu-contact-list {
  margin-bottom: 48px;
}

.mobile-menu-contact-list-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu-contact-list-item-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  color: var(--clr-slate);
}

.current {
  color: var(--clr-ocean);
}

.hero-page {
  max-width: 1440px;
  margin: 0 auto;
  padding: 72px 0;
  background-color: var(--clr-navy-blue);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mobile.jpg);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    -webkit-image-set('../images/hero-bg-mobile.webp');
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    image-set('../images/hero-bg-mobile.webp');

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg@2x-mobile.jpg);
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      -webkit-image-set('../images/hero-bg@2x-mobile.webp');
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set('../images/hero-bg@2x-mobile.webp');
  }

  @media screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx),
    screen and (min-device-pixel-ratio: 3) {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg@3x-mobile.jpg);
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      -webkit-image-set('../images/hero-bg@3x-mobile.webp');
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set('../images/hero-bg@3x-mobile.webp');
  }

  @media screen and (min-width: 768px) {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tablet.jpg);
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      -webkit-image-set('../images/hero-bg-tablet.webp');
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set('../images/hero-bg-tablet.webp');

    @media screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx),
      screen and (min-device-pixel-ratio: 2) {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg@2x-tablet.jpg);
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        -webkit-image-set('../images/hero-bg@2x-tablet.webp');
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        image-set('../images/hero-bg@2x-tablet.webp');
    }

    @media screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx),
      screen and (min-device-pixel-ratio: 3) {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg@3x-tablet.jpg);
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        -webkit-image-set('../images/hero-bg@3x-tablet.webp');
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        image-set('../images/hero-bg@3x-tablet.webp');
    }
  }

  @media screen and (min-width: 1158px) {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desktop.jpg);
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      -webkit-image-set('../images/hero-bg-desktop.webp');
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set('../images/hero-bg-desktop.webp');

    @media screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx),
      screen and (min-device-pixel-ratio: 2) {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg@2x-desktop.jpg);
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        -webkit-image-set('../images/hero-bg@2x-desktop.webp');
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        image-set('../images/hero-bg@2x-desktop.webp');
    }

    @media screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx),
      screen and (min-device-pixel-ratio: 3) {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg@3x-desktop.jpg);
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        -webkit-image-set('../images/hero-bg@3x-desktop.webp');
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        image-set('../images/hero-bg@3x-desktop.webp');
    }
  }
}

.hero-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;

  max-width: 220px;
  color: var(--clr-white);
  margin-bottom: 72px;

  @media screen and (max-width: 767px) {
    text-transform: capitalize;
  }

  @media screen and (min-width: 768px) {
    text-align: center;
    line-height: 1.07;
    font-size: 56px;

    margin-bottom: 36px;
    max-width: 505px;
  }

  @media screen and (min-width: 1158px) {
    margin-bottom: 48px;
  }
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--clr-white);
  background-color: var(--clr-iris);

  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  gap: 10px;

  transition: background-color var(--tns-cubic);
}

.hero-button:focus,
.hero-button:hover {
  background-color: var(--clr-ocean);
}

.container .about-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  @media screen and (min-width: 1158px) {
    gap: 24px;
  }
}

.about-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.about-list-item .about-list-item-subtitle {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;

  color: var(--clr-navy-blue);
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
}

.about-list-item-text {
  font-weight: 500;

  max-width: 288px;
  margin: 0 auto;
  color: var(--clr-slate);

  @media screen and (min-width: 768px) {
    min-width: 356px;
    margin: 0;
  }

  @media screen and ((min-width: 1158px)) {
    min-width: 264px;
    font-weight: 400;
  }
}

.about-list-item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 1158px) {
    width: calc((100% - 72px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .about-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

.about-list-item-box {
  display: none;

  @media screen and (min-width: 1158px) {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--clr-cloud);
    border: 1px solid rgba(142, 143, 153, 1);
    border-radius: 4px;
  }
}

.about-text {
  letter-spacing: 0.02em;
}

.team-page {
  background-color: var(--clr-cloud);
}

.team-title {
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.team-list-item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  gap: 8px;
}

.container .team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  @media screen and (min-width: 1158px) {
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

.team-list-item {
  margin: 0 auto;
  max-width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px var(--clr-navy-blue) 14,
    0px 1px 1px 0px var(--clr-navy-blue) 29,
    0px 1px 6px 0px var(--clr-navy-blue) 14;
  background-color: var(--clr-white);

  @media screen and (min-width: 768px) {
    margin: 0;
    width: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 1158px) {
    width: calc((100% - 72px) / 4);
  }
}

.team-list-item .team-list-item-box {
  text-align: center;
}

.team-list-item-box-subtitle {
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.list-text {
  text-align: center;
  font-size: 16px;
}

.social-icon {
  fill: var(--clr-cloud);
}

.social-link:focus,
.social-link:hover {
  background-color: var(--clr-ocean);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--clr-iris);

  transition: background-color var(--tns-cubic);
}

.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.container .portfolio-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  @media screen and (min-width: 1158px) {
    flex-direction: row;
    gap: 48px 24px;
    max-width: 1138px;
  }
}

.portfolio-item {
  transition: box-shadow var(--tns-cubic);

  @media screen and (max-width: 767px) {
    max-width: 288px;
    margin: 0 auto;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  @media (min-width: 768px) and (max-width: 1157px) {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 1158px) {
    width: calc((100% - 48px) / 3);
  }
}

@media screen and (max-width: 767px) {
  .portfolio-item:not(:last-child) {
    margin-bottom: 42px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item:hover .hidden-text {
    transform: translateY(0);
  }

  .portfolio-item:hover .hidden-container {
    transform: translateY(0);
  }

  .portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px var(--clr-navy-blue) 14,
      0px 1px 1px 0px var(--clr-navy-blue) 29,
      0px 1px 6px 0px var(--clr-navy-blue) 14;

    cursor: pointer;
  }
}

.card-container {
  border-right: 1px solid var(--clr-cornflower);
  border-bottom: 1px solid var(--clr-cornflower);
  border-left: 1px solid var(--clr-cornflower);
  padding: 32px 16px;
}

.card-container:hover .portfolio-item {
  background: linear-gradient(
      0deg,
      var(--clr-cornflower),
      var(--clr-cornflower)
    ),
    linear-gradient(0deg, var(--clr-white), var(--clr-white));
}

.portfolio-title {
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.item-title {
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.img-container {
  position: relative;

  overflow: hidden;
}

.hidden-text {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;

  height: 100%;
  width: 100%;
  padding: 40px 32px;

  background-color: var(--clr-iris);
  transform: translateY(100%);
  transition: transform var(--tns-cubic);
}

.hidden-text {
  color: var(--clr-cloud);
}

.footer-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--clr-cloud);
}

.footer-page .container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
  @media (min-width: 768px) and (max-width: 1157px) {
    max-width: 584px;
    flex-wrap: wrap;
  }
}

.footer-logo {
  display: block;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 17.5px;

  color: var(--clr-iris);

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-bottom: 16px;
  }
}

.footer-page {
  padding: 97.5px 0 96px;
  background-color: var(--clr-navy-blue);

  @media screen and (min-width: 1158px) {
    padding: 100px 0;
  }
}

.social-container .social-text {
  font-weight: 500;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 1);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @media screen and (max-width: 767px) {
    margin-bottom: 72px;
  }
}

.footer-box {
  @media screen and (max-width: 767px) {
    margin: 0 auto 72px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 24px;
    margin-bottom: 72px;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 120px;
    margin-bottom: 0;
  }
}

.footer-social-icon {
  fill: var(--clr-cloud);
}

.footer-mail-container {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1158px) {
    margin-left: 0;
  }
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--clr-iris);
  transition: background-color var(--tns-cubic);
}

.footer-social-link:focus,
.footer-social-link:hover {
  background-color: var(--clr-green);
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.social-container {
  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 80px;
  }
}

.footer-mail-text {
  font-weight: 500;
  color: var(--clr-white);
  margin-bottom: 16px;
}

.footer-form {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 24px;

    flex-wrap: wrap;
  }

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
  }
}

.footer-form-label {
  display: flex;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;

  border: 1px solid var(--clr-white);
  outline: none;
  border-radius: 4px;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--clr-white);

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }

  @media screen and (max-width: 1157px) {
    opacity: 0.3;
  }
}

.footer-form-input::placeholder {
  color: var(--clr-white);
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;
  color: var(--clr-white);
  background-color: var(--clr-iris);

  transition: background-color var(--tns-cubic);

  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }
}

.footer-form-btn:focus,
.footer-form-btn:hover {
  background-color: var(--clr-ocean);
}

.footer-form-icon {
  margin-left: 16px;
  fill: var(--clr-white);
}

.footer-text {
  display: block;
  margin: 0 auto;
  max-width: 288px;

  color: var(--clr-cloud);

  @media screen and (min-width: 768px) {
    max-width: 264px;
  }

  @media screen and (min-width: 1158px) {
    margin-bottom: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: visibility var(--tns-cubic), opacity var(--tns-cubic);
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 9999;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.no-scroll {
  overflow: hidden;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--tns-cubic);

  @media screen and (max-width: 767px) {
    padding: 72px 17px 24px 16px;
    width: 90%;
    max-width: 408px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #0000001a;
  border-radius: 50%;
  background-color: rgba(231, 233, 252, 1);
  transition: background-color var(--tns-cubic), border var(--tns-cubic);
}

.icon-x {
  transition: fill var(--tns-cubic);
}

.modal-close-btn:focus .icon-x,
.modal-close-btn:hover .icon-x {
  fill: var(--clr-white);
}

.modal-close-btn:focus,
.modal-close-btn:hover {
  background-color: var(--clr-ocean);
  border: none;
}

.modal-box-text {
  text-align: center;
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--clr-navy-blue);
}

.form-box {
  margin-bottom: 8px;
}

.form-box-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;

  color: var(--clr-light-slate);
}

.form-box-input {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition: border-color var(--tns-cubic);
  padding: 11px 38px;

  @media screen and (max-width: 767px) {
    padding: 11px 34px;
  }
}

@media screen and (min-width: 1158px) {
  .form-input:focus {
    border-color: var(--clr-iris);
  }
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--tns-cubic);
}

@media screen and (min-width: 1158px) {
  .form-box-input:focus-within .icon-modal {
    fill: var(--clr-iris);
  }
}

.form-box-textarea {
  margin-bottom: 16px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--tns-cubic);
}

@media screen and (min-width: 1158px) {
  .form-textarea:focus {
    border-color: var(--clr-iris);
  }
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--clr-navy-blue) 66;
}

.form-bottom-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 24px;
}

.checkbox-label {
  display: flex;
  align-items: center;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 0;
  color: var(--clr-light-slate);
}

.custom-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;

  min-width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color var(--tns-cubic), border var(--tns-cubic),
    fill var(--tns-cubic);
  cursor: pointer;
}

.last-input:checked + .checkbox-label > .custom-input {
  fill: var(--clr-cloud);
  background-color: var(--clr-ocean);
  border: none;
}

.form-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--clr-iris);
  text-decoration: underline;
}

.modal-send-btn {
  display: block;

  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;

  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;

  border: none;
  border-radius: 4px;
  color: var(--clr-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  background-color: var(--clr-iris);
  transition: background-color var(--tns-cubic);
}

.modal-send-btn:focus,
.modal-send-btn:hover {
  background-color: var(--clr-ocean);
}

.modal-second-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--clr-light-slate);
}
